BODY 
{
}

#content {
    margin: 0 auto; 
    width: 100%;
    text-align: center;
}

/*
	============
		HEADER 
	============
	*/
	
#navigationHeader {
    top:0px;
    left:0px;
    height:80px;
    margin-top: 0px;
    margin-right:0px;
    margin-bottom:10px;
    margin-left:0px;
    padding:0px 0px 0px 0px;
    vertical-align:bottom;
    border-bottom: solid 4px #A1C8FF;
    color:#7FB4FF;
    }
#navigationHeader a {
    font-weight:bold;
    font-size:18px;
    font-variant:small-caps;
    text-decoration:none;
    color:#7FB4FF;
    line-height:75px;    
    display:block;
    float:left;
    padding: 0px 5px 0px 5px;
    margin: 0px 5px 0px 5px;
    vertical-align:baseline;
}
#navigationHeader a:hover {
    background-color:#A1C8FF;
    color:#ffffff;
}
#navigationHeader img {
    float:left;
    border-color:#A1C8FF;
    border-left:0px;
    border-top:0px;
    margin-left:0px;
    margin-top:0px;
}	
